/* ==========================================================================
slider
========================================================================== */
.slider {
  background-image: url('../images/bg-slider.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #2a2827;
  height: 900px;
  background-size: cover;
  position: relative;

}
/*.blog_about_cover_scaling{-webkit-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2)}*/

.slider-background-top {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  margin: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.slider h1 {
  color: #fff;
  margin-bottom: 40px;
}
.slider p.intro {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 80px; }
.slider .slider-content {
  padding-top: 26%; }

.navigation {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999; }

.fixed {
  position: fixed;
  background-color: rgba(178, 178, 178, 0.9);
  z-index: 999;
  width: 100%; }

header {
  padding: 28px 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  position: relative;
  width: 1170px;
  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
  transition: padding 300ms ease-in-out; }
header a {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
}
header a.login {
  margin-right: 20px; }
header .logo {
  display: inline-block; }
header ul.primary-nav {
  margin: 0 0 0 75px;
  padding: 0; }
header ul.primary-nav li {
  display: inline; }
header ul.primary-nav li a {
  color: #fff;
  padding-right: 25px;

}
header ul.primary-nav li a:hover {
  color: #FF0030;
  text-decoration: none;
}
header ul.primary-nav li a:focus {
  text-decoration: none;
}
header ul.primary-nav li:last-child a {
  padding-right: 0px; }
header ul.member-actions li {
  display: inline; }
header ul.member-actions li a {
  color: #fff; }
header ul.member-actions li a:hover {
  color: #FF0030;

}
header .header-nav {
  display: inline-block; }
header .member-actions {
  position: absolute;
  right: 0;
  top: 32px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }


.btn-slanted-slider {
  font-family: RobotoLight;
  display: inline-block;
  position:relative;
  font-size: 16px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 2px 5px;
  text-decoration: none;
  cursor: pointer;
  background: #FF0030;
  border: 2px solid #FF0030;
  transition:all 0.6s
}
.btn-slanted-slider span {
  text-align: center;
  position: relative;
}
.btn-slanted-slider,
.btn-slanted-slider > span {
  color: #fff;
}
.btn-slanted-slider:hover,
.btn-slanted-slider:hover > span {
  color: #fff;
}

.btn-slanted-slider {
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.btn-slanted-slider:hover {
  background: #333399;
  border: 2px solid #333399;
  transition:all 0.6s;
}
.btn-slanted-slider > span {
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
  display: inline-block;
}
@-webkit-keyframes arrow-left {
  0%, 20% {
    -webkit-transition-timing-function: cubic-bezier(0.860, 0, 0.130, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    -moz-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    -o-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650); /* custom */
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  10% {
    -webkit-transition-timing-function: cubic-bezier(0.860, 0, 0.130, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    -moz-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    -o-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650); /* custom */
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
}
@keyframes arrow-left {
  0%, 20% {
    -webkit-transition-timing-function: cubic-bezier(0.860, 0, 0.130, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    -moz-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    -o-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650); /* custom */
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  10% {
    -webkit-transition-timing-function: cubic-bezier(0.860, 0, 0.130, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    -moz-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    -o-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650); /* custom */
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
}
#arrow-left {
  display: table-cell;
  position: fixed;
  bottom: 30px;
  left: 7%;
  -webkit-animation-name: arrow-left;
  animation-name: arrow-left;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  z-index: 25;
}
@-webkit-keyframes arrow-right {
  0%, 20% {
    -webkit-transition-timing-function: cubic-bezier(0.860, 0, 0.130, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    -moz-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    -o-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650); /* custom */
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  10% {
    -webkit-transition-timing-function: cubic-bezier(0.860, 0, 0.130, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    -moz-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    -o-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650); /* custom */
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
}
@keyframes arrow-right {
  0%, 20% {
    -webkit-transition-timing-function: cubic-bezier(0.860, 0, 0.130, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    -moz-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    -o-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650); /* custom */
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  10% {
    -webkit-transition-timing-function: cubic-bezier(0.860, 0, 0.130, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    -moz-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    -o-transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650);
    transition-timing-function: cubic-bezier(0.860, -0.600, 0.130, 1.650); /* custom */
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
}
#arrow-right {
  display: table-cell;
  position: fixed;
  bottom: 30px;
  right:7%;
  -webkit-animation-name: arrow-right;
  animation-name: arrow-right;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  z-index: 35;
}
.section-slider-circle-left {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url('../images/section-slider-circle-left.png') center center no-repeat #FF0030;
  margin: 40px auto;
}
.section-slider-circle-right {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url('../images/section-why-we-circle-1.png') center center no-repeat #333399;
  margin: 40px auto;
}
.section-slider-circle-left p {
  display: none;
  font-size: 20px;
  color: #fff;
  text-align: center;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.section-slider-circle-left:hover p {
  display: block;
  padding: 45px 40px;
}
.section-slider-circle-left:hover {
  background: #339;
}
.section-slider-circle-left span{
  text-align: center;
  color: #fff;
  margin: 0 auto;
}
.section-slider-circle-left:hover span{
  display: none;
}

.section-slider-circle-right span{
  text-align: center;
  color: #fff;
  margin: 0 auto;
}
.section-slider-circle-right:hover span{
  display: none;
}

.section-slider-circle-right p {
  display: none;
  font-size: 20px;
  color: #fff;
  text-align: center;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.section-slider-circle-right:hover p {
  display: block;
  padding: 30px 40px;
}
.section-slider-circle-right:hover {
  background: #FF0030;
}
.emblem {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-weight: bold;
  color: #003A6F;
  animation: spinZ 20s linear infinite;
  text-align: center;
}
.emblem span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}


.emblem-right {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-weight: bold;
  color: #003A6F;
  animation: spinZ 20s linear infinite;
  text-align: center;
}
.emblem-right span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}
.emblem {
  display: none;
}
.emblem-right {
  display: none;
}
/* крутяшки
@keyframes spinZ {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
*/